<!--
Name: Blythe Kelly
Assignment: Project 1
Class: CS 178
Professor: Dr. Urness
Due: April 3, 2023
-->

<html>
    <title>CS178 Project Webpage</title>
    <body>
        <center>
        <!--This form is displayed when an action is successfully completed, such as deleting an account-->
        <h1>Your action was successfully completed.</h1>
        <h3>Click below to navigate back to the homepage.</h3>
        <form action="http://bakdrakecs178spring2023.s3-website-us-east-1.amazonaws.com/" method="get">
           <button class="button querybutton" type="submit">Go Back</button>
           </form>
        </center>
    </body>
</html>